* {
    box-sizing: border-box;
    font-family: 'IBM Plex Mono', sans-serif;
}

.container {
    min-width: 360px;
    max-width: 532px;
    padding: 50px 16px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    margin: 0;
    margin-bottom: 86px;
    font-weight: 600;
    font-size: 40px;
    line-height: 52px;
    color: #4520ab;
}

.label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 56px;
    margin-bottom: 60px;
    padding: 13px 8px 15px 21px;
    border: 2px solid #111111;
    border-radius: 14px;
}

.input {
    border: none;
    outline: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
}

.add-btn {
    padding: 5px 12px;
    height: 38px;
    border: none;
    border-radius: 8px;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #fff;
    background-color: #111;
}

.main-block {
    display: flex;
    margin-bottom: 60px;
    width: 100%;
    border-radius: 8px;
    overflow: hidden
}

.ru {
    margin: 0;
    padding: 0px;
    list-style: none;
    width: 50%;
    border-right: 1px solid #111;
    font-size: 18px;
    line-height: 40px;
    background-color: #f0f0f0;
}

.tr {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 50%;
    border-left: 1px solid #111;
    font-size: 18px;
    line-height: 40px;
    background-color: #d8d8d8;
}

.item {
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.item-2 {
    justify-content: space-between;
    padding-left: 28px;
}

.num {
    margin-right: 28px;
    font-weight: 600;
    font-size: 14px;
}

.item-border {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px 0 28px;
    border-top: 1px solid #111;
}

.clear-btn {
    display: flex;
    padding: 7px 10px;
    border: none;
    border-radius: 8px;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    background-color: #adadad;
}

.clear-icon {
    margin-right: 12px;
}

.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
}

.hint {
    display: none;
    position: absolute;
    top: -32px;
    left: 28px;
    padding: 0 16px;
    background-color: transparent;
    border-radius: 10px;
}

.stroka-tr:hover .hint,
.stroka-ru:hover .hint {
    display: block;
    background-color: #fff;
}

@media (max-width: 576px) {

    .title {
        margin-bottom: 76px;
        font-size: 36px;
    }

    .label {
        margin-bottom: 50px;
    }

    .input {
        font-size: 15px;
    }

    .main-block {
        margin-bottom: 40px;
    }

}